{% extends 'bootstrap/base.html' %}

<!doctype html>

<!-- stylesheets -->
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='style.css')}}">
{% endblock %}

<title>{% block title %}{% endblock %} Porton Health Dynamic Pricing Predictor </title>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
