body{
  background-color: #ebeff4;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.card {
  background: white;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.1);

  webkit-box-shadow: 4px 6px 31px -15px rgba(51,50,51,0.66);
  moz-box-shadow: 4px 6px 31px -15px rgba(51,50,51,0.66);
  box-shadow: 4px 6px 31px -15px rgba(51,50,51,0.66);
}

.input-form {
  padding: 15px 35px 45px;
}

.nav {
  padding: 5px;
}

.output {
  padding: 10px 20px 50px 80px;
}

.btn-submit {
  color: white;
  background-color: #e67a37;
  opacity: 1.0;
}

.btn-submit:hover, .btn-submit:active {
  color: white;
  opacity: 0.75;
}

.btn-nav {
  font-size: 30px;
  background-color: #fff;
  color: #e67a37;
  opacity: 1.0;
}

.btn-nav:hover, .btn-nav:active {
  color: #e67a37;
  opacity: 0.75;
}

.pricing-block {
  margin-top: 10px;
  margin-bottom: 10px;
}

.price-range {
  width: 80%;
}

.slider {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%; 
  background: #e67a37;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #e67a37;
  cursor: pointer;
}
