{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Enter receipt data{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <div>{{form.duration.label}} : {{form.duration()}}</div>
        <div>{{form.speciality.label}} : {{form.speciality()}}</div>
        <div>{{form.event_type.label}} : {{form.event_type()}}</div>
        <div>{{form.visit_type.label}} : {{form.visit_type()}}</div>
        <input type="submit" value="Get Price">
    </form>
{% endblock %}