{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Enter traits{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="duration">Duration (seconds)</label>
        <input name="duration" id="duration" required>
        <label for="speciality">Speciality</label>
        <select name = "speciality">
            <option value = "0">Neurology</option>
            <option value = "1">Pulmonology</option>
            <option value = "2">Family Medicine/General Practitioner</option>
            <option value = "3">Clinical Genetics and Genomics</option>
            <option value = "4">Clinical Counselling</option>
            <option value = "6">Plastic Surgery</option>
            <option value = "7">Anesthesiology</option>
            <option value = "8">Pediatrics</option>
            <option value = "9">Allergy and Immunology</option>
            <option value = "10">Aerospace Medicine</option>
            <option value = "11">Dermatology</option>
            <option value = "12">Cardiology</option>
            <option value = "5">None</option>
        </select>
        <label for="eventType">Event Type</label>
        <select name = "eventType">
            <option value="0">Video</option>
            <option value="1">Report</option>
            <option value="2">Voice</option>
        </select>
        <label for="type">Type</label>
        <select name = "type">
            <option value="1">001</option>
            <option value="3">003</option>
            <option value="2">004</option>
            <option value="0">005</option>
            <option value="5">006</option>
            <option value="4">007</option>
        </select>
        <input type="submit" value="Get Price">
    </form>
{% endblock %}